.icons {
  ::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: #ff014f;
    opacity: 0.06;
    transform: scale(0);
    transition: all 0.4s ease;
    z-index: -1;
  }

  :hover::after {
    opacity: 1;
    transform: scale(1);
  }
}
