@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-xs: 30rem; /* 480px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.banner::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(6, 6, 6, 0) 46.14%, #060606 100%);
  width: 100%;
  height: 580.327px;
  z-index: 5;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate 6s linear infinite;
}

.image-custom {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  background-image: url('../../public/images/banner//background-banner.jpg');
}

.swiper-tech-list {
  .swiper-wrapper {
    .swiper-slide-active {
      .item-slide {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.glowCard {
  --x: 50%;
  --y: 50%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.glowCard::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle at center,
    rgba(255, 0, 100, 0.8),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
}

.glowCard::after {
  content: '';
  position: absolute;
  inset: 2px;
  background: linear-gradient(
    145deg,
    rgba(20, 20, 25, 0.95),
    rgba(10, 10, 15, 0.95)
  );
  border-radius: 20px;
  z-index: 1;
}

.glowCard:hover::before {
  opacity: 1;
}

.glowCard > * {
  position: relative;
  z-index: 2;
}

.hoverItemMenu {
  transition: all 0.4s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    padding: 8px 16px;
    background: #ff014f;
    width: 110%;
    height: 100%;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    box-sizing: content-box;
  }

  &:hover::after {
    opacity: 0.2;
  }

  &:hover {
    color: #ff014f;
  }
}
