@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-xs: 30rem; /* 480px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.banner::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(6, 6, 6, 0) 46.14%, #060606 100%);
  width: 100%;
  height: 580.327px;
  z-index: 5;
}
