@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-xs: 30rem; /* 480px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.banner::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(6, 6, 6, 0) 46.14%, #060606 100%);
  width: 100%;
  height: 580.327px;
  z-index: 5;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate 6s linear infinite;
}

.image-custom {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  background-image: url('../../public/images/banner//background-banner.jpg');
}

.swiper-tech-list {
  .swiper-wrapper {
    .swiper-slide-active {
      .item-slide {
        width: 100%;
        height: 100%;
      }
    }
  }
}
