.marquee-init {
  .marquee-animation {
    .item-marquee {
      padding: 4px 8px;
      background-color: transparent;
      line-height: 28px;
      border-radius: 6px;

      span {
        font-size: 16px;
        color: #d7d9ff;
      }

      @media (min-width: 640px) {
        padding: 8px 16px;
        background-color: #0f0f0f;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(to right, rgba(6, 6, 6, 1), rgba(6, 6, 6, 0));
    opacity: 1;
    z-index: 5;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(to left, rgba(6, 6, 6, 1), rgba(6, 6, 6, 0));
    opacity: 1;
    z-index: 5;
    pointer-events: none;
  }
}
